 @import url('https://fonts.googleapis.com/css?family=Quicksand:400,500|Raleway');

body {
  background-color: #fdf2e9;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

 header, footer {
   width: 100%;
   text-align: center;
   box-sizing: border-box;
 }

 h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: #2d2e2e;
    padding: .5em;
    background-color: #bcabae;
    display: block;
    font-size: calc(16px + 2vw);
 }

b {
  font-weight: 500;
}

header {
  margin: 0;
  padding: 0;
}

footer {
  background-color: rgba(0,0,0,0.1);
  padding: 0.5em;
}

a {
  color: #716969;
  text-decoration: none;
}

a:hover {
  color: #0f0f0f;
}

.main {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .main {
    max-width: 1140px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 992px) {
  .main {
    max-width: 960px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  h1 {
    display: inline-block;
  }
}
